.nav-link{
    color:black;
    background-color: #f2ecec;
    padding:5px;
    border-radius:50px;
}
.nav-link:hover{
    background-color: #53b1eb;
    border-radius:50px;
    color:white;
    padding:5px;
    text-decoration: none;
}

.profile-info{
    font-size:1rem;
}

.logout-btn{
    background-color: #53b1eb;
    border:none;
    border-radius: 50px;
    padding:5px 100px;
    color:white;
}

@media (min-width:319px) and (max-width:520px){
    .nav-link{
        padding:2px;
        font-size:0.9rem;
    }
    .nav-link i{
        display:none
    }
    .profile-info{
        font-size: 0.9rem;
    }
}

/* @media (max-width:1024px){
    .nav-link{
        padding:10px;
    }
    .profile-info{
        font-size:1.5rem;
    }
    .logout-btn{
       padding:10px 100px;
    }
} */