.card-container{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding-inline:70px;
  padding-top:80px;
  gap:15px;
  flex:1;
}

.card {
  border: none;
  width:20rem;
  height:20rem;
  cursor:pointer;
  margin-bottom:30px;
}

.carousel-inner {
  border-radius: 15px;
}

.carousel-inner img{
    height:17rem;
    width: 20rem;
}

.loca {
  font-weight: 600;
  margin-bottom: 0;
}

@media (min-width:1137px) and (max-width:1498px){
   .card-container{
    padding-inline:10px;
    }
}

@media (min-width:764px) and (max-width:1137px){
   .card-container{
       padding-inline: 20px;
   }
   .card{
     width:18rem;
     height:20rem;
   }
   .card-inner img{
     width:18rem;
     height:10rem
   }
}

@media (min-width:412px)and( max-width:764px){
  .card{
     width:80rem;
     height:20rem;
  }
  .card-inner img{
    height:20rem;
    width: 80rem;
  }
}

@media (min-width:319px) and (max-width:412px){
  .card-container{
    padding-inline:5px;
  }
}
